.row
  .dual-list.list-left.col-md-5
    %strong Not Assigned lead(s)
    .well.text-right
      .row
        .col-md-10
          .input-group
            %span.input-group-addon.glyphicon.glyphicon-search
            %input.form-control{:name => "SearchDualList", :placeholder => "search", :type => "text"}/
        .col-md-2
          .btn-group
            %a.btn.btn-default.selector{:title => "select all"}
              %i.glyphicon.glyphicon-unchecked
      %ul.list-group
        - not_assigned_deals = current_user.organization.deals.where("assigned_to IS NULL OR assigned_to != ?", @user.id)
        - not_assigned_deals.each do |l|
          %li.list-group-item{:id=>"#{l.id}"}
            = l.title
  .list-arrows.col-md-1.text-center
    %button.btn.btn-default.btn-sm.move-left
      %span.glyphicon.glyphicon-chevron-left
    %button.btn.btn-default.btn-sm.move-right
      %span.glyphicon.glyphicon-chevron-right
  .dual-list.list-right.col-md-5
    %strong Assigned lead(s)
    .well
      .row
        .col-md-2
          .btn-group
            %a.btn.btn-default.selector{:title => "select all"}
              %i.glyphicon.glyphicon-unchecked
        .col-md-10
          .input-group
            %input.form-control{:name => "SearchDualList", :placeholder => "search", :type => "text"}/
            %span.input-group-addon.glyphicon.glyphicon-search
      %ul.list-group
        - @user.all_assigned_deal.each do |l|
          %li.list-group-item{:id=>"#{l.id}"}
            = l.title
.modal-footer
  = submit_tag "Save", :class=> "btn btn-primary", :disable_with => "Please wait ...",:onclick=> "update_assign_lead('#{@user.id}')"
  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

:javascript
  $(function () {
      $('body').on('click', '.list-group .list-group-item', function () {
          $(this).toggleClass('active');
      });
      $('.list-arrows button').click(function () {
          var $button = $(this), actives = '';
          if ($button.hasClass('move-left')) {
              actives = $('.list-right ul li.active');              
              actives.clone().appendTo('.list-left ul');
              actives.remove();
              left_deal_ids=[];
              $('.list-left ul li.active').each(function() {
                left_deal_ids.push($(this).attr("id"));
              });
              $('#hdn_unassign_deals').val(left_deal_ids);
          } else if ($button.hasClass('move-right')) {
              actives = $('.list-left ul li.active');
              actives.clone().appendTo('.list-right ul');
              actives.remove();
              right_deal_ids=[];
              $('.list-right ul li.active').each(function() {
                right_deal_ids.push($(this).attr("id"));
              });
              $('#hdn_assign_deals').val(right_deal_ids);
          }
      });
      $('.dual-list .selector').click(function () {
          var $checkBox = $(this);
          if (!$checkBox.hasClass('selected')) {
              $checkBox.addClass('selected').closest('.well').find('ul li:not(.active)').addClass('active');
              $checkBox.children('i').removeClass('glyphicon-unchecked').addClass('glyphicon-check');
          } else {
              $checkBox.removeClass('selected').closest('.well').find('ul li.active').removeClass('active');
              $checkBox.children('i').removeClass('glyphicon-check').addClass('glyphicon-unchecked');
          }
      });
      $('[name="SearchDualList"]').keyup(function (e) {
          var code = e.keyCode || e.which;
          if (code == '9') return;
          if (code == '27') $(this).val(null);
          var $rows = $(this).closest('.dual-list').find('.list-group li');
          var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
          $rows.show().filter(function () {
              var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
              return !~text.indexOf(val);
          }).hide();
      });

  });